body {
    background: #8a9ea8;
}
.widget-section {
    display: block;
    height: auto;
    margin: 0 auto;
    margin-bottom: 100px;
}
h4 {
}

h1, h3 {
    font-family: sans-serif;
    color: #eeeeee;
}
h1 {
    text-align: center;
    font-size: 1.25em;
}
h3 {
    font-size: 1em;
}
a {
    font-family: sans-serif;
    font-size: 0.75em;
}
.tall-block {
    width: 100%;
    height: 900px;
    background-color: rgb(200, 200, 50);
}
iframe#insticator-embed {
    border: none;
}